#love
{
  position: absolute;
  left:43%;
  top:30%;
  /*margin-left:1px;
  margin-right:1px;
  margin-top:1px;*/
  border :1px solid red;
}

#goself
{
  position:absolute;
  top:55%;
  left:35%;
  margin-top:5px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1,0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
    to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

#love:hover { 
  -webkit-animation-name: pulse;  
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 10;
  }
