#abu{
 float:right;
} 
#abg{
 float:right;
}
#tr{
 float:right;
}
#bg{
 margin:auto;
 padding:auto;
 background:#000 url(https://c4.staticflickr.com/1/570/31931790275_0bbdfa5872_k.jpg) center center fixed no-repeat;
 background-size: cover;
}

h1{
 color:#fff;
 font-family:cursive;
 text-align:right;
 font-size:6em;
 margin-top:15%;
}
h2{
 color:#fff;
 font-family:cursive;
 text-align:right;
}
/*
ul.navi li{
 list-style-type:none;
 display:block;
 width:8em;
 height:3em;
 float:left;
 text-align:center;
 font-family:"Lucia Grande",sans-serif;
 border-right:1px #818181 solid;
 -webkit-box-shadow:1px 1px 1px #bbb;
 -moz-box-shadow:1px 1px 1px #bbb;
 box-shadow:1px 1px 1px #bbb;
 background-color:#c9c9c9;
 background:-webkit-gradient(linear, left top ,left bottom,from(#c9c9c9),to(#848484),color-stop(0.6,#a1a1a1));
 background:-moz-linear-gradient(top,#c9c9c9, #a1a1a1,#848484);
}
ul.navi li a{
 display:block;
 padding: .8em .5em .5em .5em;
 text-decoration:none;
 color:#292929;
 text-shadow:1px 1px 0px #cccccc;
}
ul.navi li:hover{
  background-color:#333333;
  background:-webkit-gradient(linear, left top ,left bottom,from(#333333),to(#4c4c4c),color-stop(0.6,#474747));
  background:-moz-linear-gradient(top,#333333, #474747,#4c4c4c);
}
ul.navi li:hover > a{
  color:#FFF;
  text-shadow:0px 1px 0px #fff;
}
*/
#start{
  text-align:center;
  float:right;
  width: 100px;
  height: 100px;
  background: white;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#start:hover {
  width: 300px;
} 

#start:hover #gotopage {
  opacity:1;
}

#go{
  margin-top:0.8%;
  margin-left:12px;
  text-align:left;
  position:fixed;
}
#gotopage{
  opacity:0;
  position:relative;
  right:-10%;
  top:50%;
  transform:translateY(-50%);
  font-size:1.2em;
}

