#love
{
position: absolute;
left:43%;
top:30%;
    /*margin-left:1px;
      margin-right:1px;
      margin-top:1px;*/
}
#ansc
{
  position:absolute;
  left:65%;
  top:15%;
}
#laugh
{
  width:500px;
  height:auto;
  position:absolute;
  top:15%;
  left:10%;
}

.start
{
width:10%;
height:auto;
position:absolute;
left:46%;
top:66%;
}

#goself
{
position:absolute;
top:75%;
left:42%;
     margin-top:5px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
opacity: 1,0;
  }
  50% {
    -webkit-transform: scale(1.2);
opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
opacity: 1.0;
  }
}

#love:hover { 
  -webkit-animation-name: pulse;  
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 10;
}
/*
nav{
  background-color:#FF5151;
  padding-top:50px;
}

.board{
position:relative;
display:inline-block;
        font-size:36px;
        margin-left:25%;
        margin-bottom:50px;
color:white;
}

.slidedown{
display:none;
position:absolute;
         min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         background-color: pink;
         z-index:2;
}

.board:hover > a:first-child{
color:#8A2BE2;
}

.board:hover .slidedown{
display:block;
}

.slidedownindex{
  text-decoration:none;
  font-weight:bold;
display:block;
        padding-left:8px;
        padding-top:10px;
        padding-bottom:10px;
        font-size: 16px;
color:white;
}

.slidedownindex:hover{
  text-decoration:none;
  font-weight:bold;
display:block;
        padding-left:8px;
        padding-top:10px;
        padding-bottom:10px;
        font-size: 16px;
color:#FF00FF;
}
*/
