.man1
{
  width:17%;
  height:auto;
  position:absolute;
  left:40%;
  top:13%;
}

.man2
{
  width:17%;
  height:auto;
  position:absolute;
  left:45%;
  top:43%;
}

.man3
{
  width:17%;
  height:auto;
  position:absolute;
  left:45%;
  top:73%;
}

.man4
{
  width:17%;
  height:auto;
  position:absolute;
  left:45%;
  top:103%;
}



