.man1
{
  position:absolute;
  left:45%;
  top:13%;
}

.man2
{
  position:absolute;
  left:45%;
  top:33%;
}

.man3
{
  position:absolute;
  left:45%;
  top:53%;
}

.man4
{
  position:absolute;
  left:45%;
  top:73%;
}



