#ti
{
  position:absolute;
  left:45%;
}

.man1
{
  position:absolute;
  left:30%;
  top:13%;
}
#man1self
{
  position:absolute;
  padding:0px;
  left:43%;
  top:13%;
  background-color:#ff7575;
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);


}
#info1{
  -webkit-filter: opacity(0%); /* Safari */
  filter: opacity(0%);
}


#info1:hover{
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);
}


.man2
{
  position:absolute;
  left:90%;
  top:63%;


}
#man2self
{
  position:absolute;
  left:70%;
  top:63%;
  padding:21px;
  background-color:#ff7575;
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);


}
#info2{
  -webkit-filter: opacity(0%); /* Safari */
  filter: opacity(0%);
}
#info2:hover{
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);
}


.man3
{
  position:absolute;
  left:0%;
  top:113%;
}
#man3self
{
  position:absolute;
  left:13%;
  top:113%;
  padding:21px;
  background-color:#ff7575;
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);

}
#info3{
  -webkit-filter: opacity(0%); /* Safari */
  filter: opacity(0%);
}
#info3:hover{
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);
  }


.man4
{
  position:absolute;
  left:90%;
  top:163%;
}
#man4self
{
  position:absolute;
  left:70%;
  top:163%;
  padding:21px;
  background-color:#ff7575;
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);

}
#info4{
  -webkit-filter: opacity(0%); /* Safari */
  filter: opacity(0%);
}

#info4:hover{
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(90%);
}



