#you
{
  position:absolute;
  top:15%;
  left:26%;
}
.lover
{
  position:absolute;
  top:25%;
  left:20%;
}

#he
{
  position:absolute;
  top:15%;
  left:66%;
}
.beloved
{
  position:absolute;
  top:25%;
  left:60%;
}
