strong{
  background-color:red;
}
body{ 
}
.mySlides{

  display: none;
}
.overlay1{
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  background-color: lightgreen;
  overflow: hidden;
  width: 22%;
  height:0;
  transition: .5s ease;
}
.overlay2{
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  background-color: lightgreen;
  overflow: hidden;
  width: 22%;
  height:0;
  transition: .5s ease;
}
.overlay3{
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  background-color: lightgreen;
  overflow: hidden;
  width: 22%;
  height:0;
  transition: .5s ease;
}
.overlay4{
  position: absolute;
  bottom: 100%;
  left: 39%;
  right: 0;
  background-color: lightgreen;
  overflow: hidden;
  width: 22%;
  height:0;
  transition: .5s ease;
}
.pic1:hover .overlay1 {
  top: 20%; 
  height: 46%;
}
.pic2:hover .overlay2 {
  top: 20%; 
  height: 46%;
}
.pic3:hover .overlay3 {
  top: 20%; 
  height: 46%;
}
.pic4:hover .overlay4 {
  top: 20%; 
  height: 46%;
}
.pic1,.pic2,.pic3,.pic4{
 margin-top:15%;
 margin-left:33%;
 width:333px;
/*  height:333px; */
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
