<html>
<head>
<title>About the game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="stylesheets/info.css" rel="stylesheet">
</head>

<style type="text/css">
  body{background:#242424;}
  div{width:500px;margin:0 auto;}
  .text1,.text2,.text3 {visibility:hidden;}
  .text1,.text2 {color:#fff;color:#fff;}
  .text2 {letter-spacing:3px;}
  .text1 {margin:50px;text-align:center;font-size:150px;text-shadow:0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);}
  .text2 {font-family:microsoft yahei;font-size:14px;line-height:24px;text-shadow:0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8)}
  .text3 {font-family:microsoft yahei;text-align:center;font-size:36px;color:#900}  
</style>

<body>

<div>
<p class="text1">LoveDivine</p>
<p class="text2">故事！</p>

<p class="text3">Welcome!</p>
</div>

<div class="nav navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div >
<a class="navbar-brand">LoveDivine</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
<li><a href="/abg">About the game</a></li>
<li><a href="/tr">Test rules</a></li>
<li><a href="/info">About us</a></li>
</ul>
</div>
</div>   
<div class="nav navbar-inverse navbar-fixed-bottom">
<div class="container-fluid">

<ul class="nav navbar-nav navbar-right">
<li><a href="#menu2">User Feedback</a></li>
<li><a href="/result">Check the result</a></li>
</ul>
</div>
</div>   
</body>
</html>
