<html>
<head>
<title>About the game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="stylesheets/info.css" rel="stylesheet">
</head>
<style>
  #idea{
    margin-top:2%;
    margin-left:35%;
    font-size:2.2em;
    color:black;
  }
  #abgbg{
    margin:auto;
    padding:auto;
    background:#000 url(https://c8.staticflickr.com/1/270/31430435183_d43929b244_o.jpg) center center fixed no-repeat;
    background-size: cover;
        
  }
</style>
<body id="abgbg">
<div class="nav navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div >
<a class="navbar-brand">LoveDivine</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
<li><a href="/abg">About the game</a></li>
<li><a href="/tr">Test rules</a></li>
<li><a href="/info">About us</a></li>
</ul>
</div>
</div>   
<div class="nav navbar-inverse navbar-fixed-bottom">
<div class="container-fluid">
<ul class="nav navbar-nav navbar-right">
<li><a href="#menu2">User Feedback</a></li>
<li><a href="/result">Check the result</a></li>
</ul>
</div>
</div>   

<div id="idea">
<p><b>之前在網路上看到有同學被整<br>因此起了這個念頭<br>只需要簡單的步驟<br>而且人人看到心理測驗的網站都會想嘗試<br>更何況是兩個人之間的緣分關係<br>我們心裡一定都有一個她<br>會默默地關心，看到她的微笑也會開心。<br>
我們想做的是-造福在曖昧中的男女<br>推他們一把<br>讓他們能順利走在愛情路上<br>不要錯過了彼此。</b></p>
</div>

</body>
</html>
