<!DOCTYPE html>
<html>
<head>
<title>About us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="stylesheets/info.css" rel="stylesheet">
<link href="stylesheets/component.css" rel="stylesheet">
<link href="stylesheets/demo.css" rel="stylesheet">
<link href="stylesheets/normalize.css" rel="stylesheet">

</head>

<body>
<div class="nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div >
      <a class="navbar-brand">LoveDivine</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/abg">About the game</a></li>
      <li><a href="/tr">Test rules</a></li>
      <li><a href="/info">About us</a></li>
    </ul>
  </div>
</div>   
<div class="nav navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="tab" href="#menu2">User Feedback</a></li>
      <li><a data-toggle="tab" href="#menu1">Check the result</a></li>
    </ul>
  </div>
</div>
<br><br>
<div class="container">
  <div class="grid">
    <figure class="effect-layla">
      <img class="mySlides" src="https://c7.staticflickr.com/1/312/31851480750_4df72c77e6_o.jpg" width="333" height="333">
      <figcaption>
        <h2><span></span></h2>
        <p>NCKU Web programming</p>
      </figcaption>
    </figure>
    <figure class="effect-layla">
       <img class="mySlides" src="https://c6.staticflickr.com/1/440/31416820173_252dc53116_o.jpg" width="333" height="333">
       <figcaption>
         <h2>廖允成a.k.a<span>車九</span></h2>
         <p>自我介紹</p>
       </figcaption>     
     </figure>
     <figure class="effect-layla">
        <img class="mySlides" src="https://c3.staticflickr.com/1/571/31385799914_bbaeaef944_o.jpg" width="333" height="333">
       <figcaption>
         <h2>黃顯堯a.k.a<span>薯條</span></h2>
         <p size="2em">
          test
         </p>
       </figcaption>
     </figure>
     <figure class="effect-layla">
       <img class="mySlides" src="https://c7.staticflickr.com/1/334/31385800054_075de17404_o.jpg" width="333" height="333">
       <figcaption>
       <h2>陳楚家a.k.a<span>馬臉</span></h2>
       <p>
         介紹
       </p>
       </figcaption>
     </figure>
     <figure class="effect-layla">
       <img class="mySlides" src="https://c2.staticflickr.com/1/730/31417190113_93f8c0f0ff_o.jpg" width="333" height="333">
       <figcaption>
       <h2>王議偉a.k.a<span>布丁</span></h2>
       <p>
         Name:王議偉<br>
         Major in:成大資工(Sophomore)<br>
         Hobby:讀書，賞花，吟詩<br>
         Reside in:臺南<br>
         Motto:先吃飽才有力氣減肥<br>
       </p>
       </figcaption>
     </figure>
     <figure class="effect-layla">
        <img class="mySlides" src="https://c1.staticflickr.com/1/554/31851480640_3650324d50_o.jpg" width="333" height="333">
        <figcaption>
        <h2><span></span></h2>
        <p></p>
     </figcaption>
     </figure>
<br><br><br><br><br><br>
  </div>
 </div>
</body>
</html>
