<!DOCTYPE html>
<html>
<head>
<title>About us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="stylesheets/info.css" rel="stylesheet">
<link href="stylesheets/component.css" rel="stylesheet">
<link href="stylesheets/demo.css" rel="stylesheet">
<link href="stylesheets/normalize.css" rel="stylesheet">

</head>

<body>
<div class="nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div >
      <a class="navbar-brand">LoveDivine</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/abg">About the game</a></li>
      <li><a href="/tr">Test rules</a></li>
      <li><a href="/info">About us</a></li>
    </ul>
  </div>
</div>   
<div class="nav navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="tab" href="#menu2">User Feedback</a></li>
      <li><a data-toggle="tab" href="#menu1">Check the result</a></li>
    </ul>
  </div>
</div>   
<div class="container">
  <div class="grid">
    <figure class="effect-layla">
       <img class="mySlides" src=https://c1.staticflickr.com/1/520/32081133975_10924b4ef0_o.png" width="333" height="333">
       <figcaption>
         <h2>廖允成<span>a.k.a車九</span></h2>
         <p>自我介紹</p>
       </figcaption>     
     </figure>
     <figure class="effect-layla">
        <img class="mySlides" src=https://c1.staticflickr.com/1/450/31705574760_f8a9ce4c8e_o.png" width="333" height="333">
       <figcaption>
         <h2>黃顯堯<span>a.k.a薯條</span></h2>
         <p size="2em">
          test
         </p>
       </figcaption>
     </figure>
     <figure class="effect-layla">
       <img class="mySlides" src=https://c1.staticflickr.com/1/316/32081134155_64648051b8_o.png" width="333" height="333">
       <figcaption>
       <h2>陳楚家<span>a.k.a馬臉</span></h2>
       <p>
         介紹
       </p>
       </figcaption>
     </figure>
     <figure class="effect-layla">
       <img class="mySlides" src=https://c1.staticflickr.com/1/724/31963315551_0c63c4837f_o.png width="333" height="333">
       <figcaption>
       <h2>王議偉<span>a.k.a布丁</span></h2>
       <p>
         Name:王議偉<br>
         Major in:成大資工(Sophomore)<br>
         Hobby:讀書，賞花，吟詩<br>
         Reside in:臺南<br>
         Motto:先吃飽才有力氣減肥<br>
       </p>
       </figcaption>
     </figure>
  </div>
 </div>
</body>
</html>
