<!DOCTYPE html>
<html>  
<head>
<meta charset="utf-8">
<link href="stylesheets/test.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascripts/bar.js"></script>
<!--<script src="javascripts/saveuser.js"></script>-->

<script>
var userID;
var userNAME;
var userEMAIL;
var access;
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
  console.log('statusChangeCallback');
  console.log(response);
  // The response object is returned with a status field that lets the
  // app know the current login status of the person.
  // Full docs on the response object can be found in the documentation
  // for FB.getLoginStatus().
  if (response.status === 'connected') {
    // Logged into your app and Facebook.
    testAPI();
  } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
    document.getElementById('status').innerHTML = 'Please log ' +
      'into LoveDivine.';
  } else {
    // The person is not logged into Facebook, so we're not sure if
    // they are logged into this app or not.
    document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
  }
}
// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
function checkLoginState() {
  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      });
}
window.fbAsyncInit = function() {
  FB.init({
appId      : '1186714911435377',
cookie     : true,  // enable cookies to allow the server to access 
// the session
xfbml      : true,  // parse social plugins on this page
version    : 'v2.8' // use graph api version 2.8
});
// Now that we've initialized the JavaScript SDK, we call 
// FB.getLoginStatus().  This function gets the state of the
// person visiting this page and can return one of three states to
// the callback you provide.  They can be:
//
// 1. Logged into your app ('connected')
// 2. Logged into Facebook, but not your app ('not_authorized')
// 3. Not logged into Facebook and can't tell if they are logged into
//    your app or not.
//
// These three cases are handled in the callback function.
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    if (response.status === 'connected') {
    console.log('access token');
    console.log(response.authResponse.accessToken);
    }
    });
};
// Load the SDK asynchronously
(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
// Here we run a very simple test of the Graph API after login is
// successful.  See statusChangeCallback() for when this call is made.
function testAPI() {
  console.log('Welcome!  Fetching your information.... ');
  FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name );
      document.getElementById('status').innerHTML =
      'Welcome, ' + response.name + '!';
      access = response.id;
      userID = response.id;
      userNAME = response.name;
      userEMAIL = response.email;
      var data = {
ID:userID,
name:userNAME,
email:userEMAIL
}

//console.log(userID);
/*$.ajax({
type: "post",
url:"/test/saveUser",
data:data,
datatype:"JSON",
success:function(res){
console.log(res);
}
})*/
});
}
$(document).ready(function(){
    $('#send').click(function(){
        console.log("gogogo")
        event.preventDefault();
        /////////////
        FB.api('/me', function(response) {
            access = response.id;
            userID = response.id;
            userNAME = response.name;
            userEMAIL = response.email;
            //////////////
            var data = {
ma:$("#ma").val(),
age:$("#age").val(),
name1:$("#name1").val(),
ma1:$("#ma1").val(),
age1:$("#age1").val(),
fbID:userID,
love:userNAME
}
console.log(userID);
console.log("upup");
$.ajax({
type: "post",
url: "/test/saveData",
data:data,
datatype: "JSON",
//data: data,
success: function(res){
console.log(res);
window.alert(res);
}
});
});
});
/*$('#send').click(function(){
  $.ajax({
type:"get",
url:"/test/result",
datatype
})
})*/  
});


</script>
</head>
<body id="testbody">

<font face="cursive" size="10" color="black">
<div id="you">你</div>
<div id="he">他</div>
</font>


<font face="cursive" size="4" color="black">
<div class="lover">
你的科系:
<select class="form-control" id="ma" name="ItemCategory">
<option value="數學系">數學系       </option>
<option value="中文系">中文系       </option>
<option value="外文系">外文系       </option>
<option value="歷史系">歷史系       </option>
<option value="化學系">化學系       </option>
<option value="物理系">物理系       </option>
<option value="地科系">地科系       </option>
<option value="光電系">光電系       </option>
<option value="會計系">會計系       </option>
<option value="統計系">統計系       </option>
<option value="企管系">企管系       </option>
<option value="交管系">交管系       </option>
<option value="機械系">機械系       </option>
<option value="化工系">化工系       </option>
<option value="土木系">土木系       </option>
<option value="材料系">材料系       </option>
<option value="水利系">水利系       </option>
<option value="工科系">工科系       </option>
<option value="系統系">系統系       </option>
<option value="航太系">航太系       </option>
<option value="資源系">資源系       </option>
<option value="環工系">環工系       </option>
<option value="醫工系">醫工系       </option>
<option value="測量系">測量系       </option>
<option value="電機系">電機系       </option>
<option value="資訊系">資訊系       </option>
<option value="法律系">法律系       </option>
<option value="政治系">政治系       </option>
<option value="經濟系">經濟系       </option>
<option value="心理系">心理系       </option>
<option value="建築系">建築系       </option>
<option value="都計系">都計系       </option>
<option value="工設系">工設系       </option>
<option value="生科系">生科系       </option>
<option value="醫學系">醫學系       </option>
<option value="藥學系">藥學系       </option>
<option value="護理系">護理系       </option>
<option value="物治系">物治系       </option>
<option value="職治系">職治系       </option>
</select>
<br><br><br>
你的年級:
<select class="form-control1" id="age" name="ItemCategory">
<option value="1">1             </option>
<option value="2">2             </option>
<option value="3">3             </option>
<option value="4">4             </option>
</select>
</div>
<div class="beloved">
他的名字:<input type = "text" id="name1" name = "name1" placeholder="ex.織女">
<br><br><br>
他的科系:
<select class="form-control" id="ma1" name="ItemCategory">
<option value="數學系">數學系        </option>
<option value="中文系">中文系        </option>
<option value="外文系">外文系</option>
<option value="歷史系">歷史系</option>
<option value="化學系">化學系</option>
<option value="物理系">物理系</option>
<option value="地科系">地科系</option>
<option value="光電系">光電系</option>
<option value="會計系">會計系</option>
<option value="統計系">統計系</option>
<option value="企管系">企管系</option>
<option value="交管系">交管系</option>
<option value="機械系">機械系</option>
<option value="化工系">化工系</option>
<option value="土木系">土木系</option>
<option value="材料系">材料系</option>
<option value="水利系">水利系</option>
<option value="工科系">工科系</option>
<option value="系統系">系統系</option>
<option value="航太系">航太系</option>
<option value="資源系">資源系</option>
<option value="環工系">環工系</option>
<option value="醫工系">醫工系</option>
<option value="測量系">測量系</option>
<option value="電機系">電機系</option>
<option value="資訊系">資訊系</option>
<option value="法律系">法律系</option>
<option value="政治系">政治系</option>
<option value="經濟系">經濟系</option>
<option value="心理系">心理系</option>
<option value="建築系">建築系</option>
<option value="都計系">都計系</option>
<option value="工設系">工設系</option>
<option value="生科系">生科系</option>
<option value="醫學系">醫學系</option>
<option value="藥學系">藥學系</option>
<option value="護理系">護理系</option>
<option value="物治系">物治系</option>
<option value="職治系">職治系</option>
</select>
<br><br><br>
他的年級:
<select class="form-control1" id="age1" name="ItemCategory">
<option value="1">1             </option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
</select>
</div>
</font>
<div id="option">
<ul class="navi">
<li class="home"><a href="/">回到主頁</a></li>
<li id="send"><a href="">確認送出</li>
</ul>
</div>
<!--
<button onclick=move()>開始測驗!!</button><br><br>
<div id="progress">
<div id="bar">
<div id="label">0%</div>
</div>
</div>

<br>
-->
</body>
</html>
