<html>
<head>
<title>About us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel=stylesheet type="text/css" href="info.css">
<link href="stylesheets/info.css" rel="stylesheet">
</head>

<body>
<div class="nav navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div >
<a class="navbar-brand">LoveDivine</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
<li><a href="/abg">About the game</a></li>
<li><a href="/tr">Test rules</a></li>
<li><a href="/info">About us</a></li>
</ul>
</div>
</div>   
<div class="nav navbar-inverse navbar-fixed-bottom">
<div class="container-fluid">

<ul class="nav navbar-nav navbar-right">
<li><a data-toggle="tab" href="#menu2">User Feedback</a></li>
<li><a href="/result">Check the result</a></li>
</ul>
</div>
</div>   
</body>
</html>
